.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.App h1 {
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  background-color: rgba(103, 102, 103, 0.541);
  border: 0.5px solid #ccc;
  padding: 19px;
}

input[type="text"] {
  width: 15rem;
  background-color: gray;
  padding: 1rem 0.5rem;
  color: white;
  border: none;
}

input[type="text"]:focus {
  border: 1px solid #8cd2a5a5;
  appearance: none;
  outline: none;
}

button {
  outline: none;
  border-radius: 0px;
  appearance: none;
  border: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: rgb(140, 210, 165);
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  margin: 10px 0;
}

.todo button {
  margin-left: 5px;
  padding: 0.5rem;
  border-radius: 3px;
}

.complate {
  text-decoration: line-through;
  color: blue;
}

.btnRemove {
  background-color: rgba(210, 140, 140, 0.646);
}

.btnRemove:hover {
  background-color: rgb(210, 140, 140);
}

.btnEdit {
  background-color: rgba(210, 210, 140, 0.646);
}

.btnEdit:hover {
  background-color: rgb(210, 210, 140);
}

.formcontrol {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  margin-bottom: 20px;
}

.addtodo {
  color: white;
  background-color: rgba(140, 210, 165, 0.646);
}

.updatetodo {
  color: rgba(140, 210, 165, 0.646);
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #8cd2a5a5;
  appearance: none;
  outline: none;
}

.updatetodo:hover {
  color: white;
  background-color: rgba(140, 210, 165, 0.646);
  border: none;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

header span {
  margin-right: 20px;
  width: 35px;
  height: 35px;
  font-size: 19px;
  border-radius: 50%;
  color: white;
  background-color: rgba(140, 210, 165, 0.646);
  display: flex;
  justify-content: center;
  align-items: center;
}
